version: '3.3'
services:
  mysql:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: 'movie-dev'
      MYSQL_USER: 'root'
      MYSQL_PASSWORD: 'root'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
    expose:
      - '3306'

    healthcheck:
      test: [ "CMD", "root", "ping", "root", "--silent" ]
      interval: 5s
      timeout: 3s
      retries: 10
  mongocontenedor:
      image: mongo
      container_name: mongocontenedor
      restart: always
      environment:
        MONGO_INITDB_DATABASE: 'seriedevmongo'
      ports:
        - 27018:27018
      expose:
        - 27018
      volumes:
        - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
  mongocontenedorUno:
    image: mongo
    container_name: mongocontenedorUno
    restart: always
    environment:
      MONGO_INITDB_DATABASE: 'catalogdevmongo'
    ports:
      - 27017:27017
    expose:
      - 27017
    volumes:
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongoUno-init.js:ro
  zipkin-contenedor:
      image: openzipkin/zipkin-slim
      container_name: zipkin-contenedor
      environment:
        - STORAGE_TYPE=mem
      ports:
        - 9411:9411
      expose:
        - 9411
      depends_on:
        - storage-contenedor
  storage-contenedor:
      image: busybox:1.31.0
      container_name: storage-contenedor

  rabbitmq-contenedor:
      image: rabbitmq:3-management
      container_name: rabbitmq-contenedor
      hostname: rabbitmq
      ports:
        - 5672:5672
        - 15672:15672
      expose:
        - 15672
        - 5672